.main-heading {
      font-size: 30px;
      font-weight: 800px;
      margin-bottom: 14px;
      
}
.underline {
      height: 4px;
      width: 90px;
      background-color: orangered;
      border-radius: 5px;
      margin-bottom: 16px;
}
.bg-gray {
      background-color: #f2f2f2;

}
.box-card {
      background-color: #fff;
      box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 15%);
      margin-bottom: 20px;
      border: 0.5px solid #ddd;
      
}
.box-card .box-card-body {
      padding: 28px 28px;
}
.box-card .box-card-body .box-card-heading {
      font-size: 20px;
      color: #2e2b6f;
      font-weight: 600;
      margin-bottom: 12px;
}
.box-card .box-card-body p {
      font-size: 14px;
      font-weight: 400;
      color: #888888;
}